.monthly-total {
  display: flex;
  justify-content: center;
  padding: 0 2em 0 2em;
  margin-right: 2.7em;
  border: solid black;
  border-radius: 20px;
}
.tot {
  display: flex;
  justify-content: center;
}
.monthly-total-item {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid;
}
